@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --shadow-theme-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-theme-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-theme-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-theme-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-1.5;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full dark:bg-gray-700;
  }
}

html {
  scroll-behavior: smooth;
}

.backdrop {
  @apply absolute top-0 left-0 h-[100%] w-[100%] bg-[#000000e1] flex items-center justify-center;
}

.modal {
  @apply w-full max-w-[90%] md:max-w-[700px] min-h-[300px] m-auto px-0 py-2 rounded flex-col items-center bg-green-400;
}

.dropdown-toggle {
  @apply inline-flex justify-center px-4 py-2 text-sm font-medium bg-gray-200 dark:bg-gray-800 dark:text-white text-gray-700 rounded-md hover:bg-gray-300 dark:hover:bg-gray-700 transition;
}
